@import url("https://capure.github.io/timetable-themes/core.css");

:root {
	--bg-url:  linear-gradient(#0004, #0004), url("https://raw.githubusercontent.com/Capure/timetable-themes/main/bg/firewatch.jpeg");
	--theme-bg-color: rgba(122, 113, 96, 0.3);
	--theme-blur: 8px;
	--theme-active-lesson-color: rgba(177, 64, 12, 0.3);
}