@import url("https://capure.github.io/timetable-themes/core.css");

:root {
	--bg-url: url("https://raw.githubusercontent.com/Capure/timetable-themes/main/bg/star.svg");
	--theme-bg-color: rgba(106, 101, 116, 0.24);
	--theme-blur: 2px;
	--theme-active-lesson-color: rgba(103, 12, 177, 0.3);
}